<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout.html::dynamic(~{::title}, ~{::body})}">
<head>
<title>The Godfather</title>
<meta charset="utf-8">
</head>
<body>
   

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <span class="icon-check_circle display-3 text-success"></span>
            <h2 class="display-3 text-black">Cảm ơn quý khách !</h2>
            <p class="lead mb-5">Đơn hàng của quý khách đã được đặt thành công</p>
            <p><a href="shop.html" class="btn btn-sm btn-primary">Quay lại trang chủ</a></p>
          </div>
        </div>
      </div>
    </div>
</body>
</html>